body
{
	background-image: url(img/back.jpg);
	background-repeat: no-repeat;
	position: relative;
	width: 85%;
	height: 610px;
	margin-left: auto;
	margin-right: auto;
}

#title
{
	font-weight: bold;
	text-align: center;
}

.container
{
	background-color: rgba(255, 255, 255, 0.6);
}

h1
{
	padding: 70px;
}

.input-textarea 
{
  min-height: 120px;
  width: 100%;
}

.description 
{
  font-style: bold;
  font-weight: 50;
}

.submit-button
{
	display: block;
  	width: 100%;
  	padding: 0.50rem;
  	color: white;
  	background-color: rgb(0, 100, 150);
}

.row
{
	padding: 50px;
}

.text
{
	padding: 10px;
}